
body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto,  'Open sans', 'Helvetica Nue', sans-serif;
  min-height:100vh;
  box-sizing:border-box;
  --bright-blue: hsl(220, 98%, 61%);
  --dark-mode-blue:hsl(235, 24%, 19%);
  --s-radius:10px;
  
}
.main{
  background-color: hsl(235, 21%, 11%);
  min-height:100vw;
}
.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width:40%;
}
.main-body{
display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-image:url(/images/bg-desktop-dark.jpg);
  background-size:cover;
}
.todo-input{
    display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1.5rem;
  min-width:275px;
  padding: 1rem 1.5rem;
  border-radius:var(--s-radius);
}
.todo-input input{
  height:1rem;
  background-color: var(--dark-bg-blue);
  border:none;
}
.todo-input input:focus{
  outline:solid hsla(235.2,100%,32.6%,0.9);
}
.todo-body{
  padding-left: 0;
  width:100%;
  height: auto;
  margin-bottom:0;
  border-radius:var(--s-radius) var(--s-radius) 0 0;
}

.todo {
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items:center;
  border-bottom:solid 1px white;
  padding: 1rem 1.5rem;
}
.todo p{
  color:white;
  max-inline-size: 25ch;
  display:inline-block;
  margin:0;
  padding: 0;
}

.indicator{
  border: solid white 1px;
  border-radius: 50%;
  width:1rem;
  height:1rem;
  display:inline-block;
  margin-right:.5rem;
}
.indicator.complete{
  background: 
    url('/images/icon-check.svg') no-repeat center / contain,
    linear-gradient(to bottom, hsl(192, 100%, 67%),hsl(280, 87%, 65%))
}
.completed p{
  text-decoration:line-through ;
}
.todo-p-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-right:1rem;
}
.counter{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin-bottom:2rem;
  border-radius:0  0 var(--s-radius) var(--s-radius);
}
.counter button{
  background-color:var(--dark-mode-bg);
  color:white;
  border:none;
}
.One{
   display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}
.counter button{
  height:1.5rem;
}
.footer-navigation{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  width:100%;
  border-radius:var(--s-radius);
}
.footer-navigation ul{
  display:flex;
  flex-direction: row;
  padding: 0;
  list-style:none;
  width:50%;
  justify-content: space-around;
  align-items: center;
}
.active-page{
  color:var(--bright-blue);
}

.dark-mode-bg{
  background-color: var(--dark-mode-blue);
  color:white;
}