
body{
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", 'Segoe UI', Roboto,  'Open sans', 'Helvetica Nue', sans-serif;
  min-height:100vh;
  box-sizing:border-box;
  --bright-blue: hsl(220, 98%, 61%);
  --dark-mode-blue:hsl(235, 24%, 19%);
--very-light-gray: hsl(0, 0%, 98%);
--very-light-grayish-blue: hsl(236, 33%, 92%);
--light-grayish-blue: hsl(233, 11%, 84%);
--dark-grayish-blue: hsl(236, 9%, 61%);
--very-dark-grayish-blue: hsl(235, 19%, 35%);
--very-dark-blue: hsl(235, 21%, 11%);
--light-grayish-blue: hsl(234, 39%, 85%);
--light-grayish-blue-2: hsl(236, 33%, 92%);
--dark-grayish-blue: hsl(234, 11%, 52%);
--very-dark-grayish-blue: hsl(233, 14%, 35%);
--very-dark-grayish-blue-2: hsl(237, 14%, 26%);
  --s-radius:5px;
  --font:font-family: "Josefin Sans", 'Segoe UI', Roboto,  'Open sans', 'Helvetica Nue', sans-serif;
}
.main{
  min-height:100vh;
}
.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width:clamp(320px,40%,1000px);
}
.image{
  position: absolute;
  top:0;
  left:0;
  height:10rem;
  width:100vw;
  object-fit:cover;
z-index:-1;
}
.main-body{
display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  position: relative;
  background-size:cover;
  min-height:100%;
  z-index:1;
}
.todo-input{
    display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1.5rem;
  min-width:275px;
  padding: 1rem 1.5rem;
  border-radius:var(--s-radius);
}
.todo-input input{
  height:1rem;
  border:none;
  font-family:var(--font);
}
.todo-input input:focus{
  outline:none;
}
.todo-input button{
  border:none;
  border-radius:5px;
  background-color: var(--dark-grayish-blue);
  color:var(--light-grayish-blue);
  font-family:var(--font);
}
.todo-body{
  padding-left: 0;
  width:100%;
  height: auto;
  margin-bottom:0;
  border-radius:var(--s-radius) var(--s-radius) 0 0;
}

.todo {
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items:center;
  border-bottom:solid 1px var(--very-dark-grayish-blue);
  padding: 1rem 1.5rem;
}
.todo p{
  max-inline-size: 25ch;
  display:inline-block;
  margin:0;
  padding: 0;
}

.indicator{
  border-radius: 50%;
  width:.8rem;
  height:.8rem;
  display:inline-block;
  margin-right:.5rem;
  background-color: inherit;
  border: solid var(--very-dark-grayish-blue-2) 1px;
}
.indicator.complete{
  background: 
    url('/images/icon-check.svg') no-repeat center / 60% 50%,
    linear-gradient(to bottom, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    border:none;
}
.complete p{
  text-decoration:line-through ;
color:var(--very-dark-grayish-blue)!important; 
}
.todo-p-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right:1rem;
}
button.delete-todo{
  background-color: inherit;
  border:none;
}
.No-todos{
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:var(--s-radius) var(--s-radius) 0 0;
}
.No-todos svg{
  height:200px;
  width:auto;
}
.No-todos p{
  margin-top:1rem;
}
.counter{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 1rem;
  margin-bottom:2rem;
  border-radius:0  0 var(--s-radius) var(--s-radius);
}
.counter button{
  background-color:var(--dark-mode-bg);
  border:none;
  color:var(--very-dark-grayish-blue);
  font-family:var(--font);
}

.One{
   display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}
.counter button{
  height:auto;
  font-size:1rem;
}
.footer-navigation{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  width:100%;
  border-radius:var(--s-radius);
  font-weight:600;
}
.footer-navigation ul{
  display:flex;
  flex-direction: row;
  padding: 0;
  list-style:none;
  width:60%;
  justify-content: space-evenly;
  align-items: center;
}
.footer-navigation li{
  cursor:pointer;
}
.active-page{
  color:var(--bright-blue);
}
.footer-navigation.show-footer{
    display:flex;
  }
  .footer-navigation.hide-footer{
    display:none;
  }
.message{
  background-color: inherit;
  margin-top:2rem;
}
/* Dark Mode Styles */
.dark-mode-bg{
  background-color: var(--dark-mode-blue);
  transition: background-image ease 1s;
  transition: background-color ease 1s;
}

.image.dark-mode-bg{
  background-image:url(/images/bg-desktop-dark.jpg);
}
.main-body.dark-mode-bg{
  background-color: var(--very-dark-blue);
}
.todo-body.dark-mode-bg p, .No-todos.dark-mode-bg p, .No-todos svg{
  color:var(--light-grayish-blue);
}

/* .No-todos p{
  color:;
} */
.todo-input.dark-mode-bg input{
  color:white;
  background-color: var(--dark-mode-blue);
}

.counter.dark-mode-bg, .footer-navigation.dark-mode-bg, .message.dark-mode-bg{
  color:var(--very-dark-grayish-blue)
}

.message.dark-mode-bg{
  background-color: var(--very-dark-blue);
}

/* Light Mode Styles */
.light-mode{
  background-color: var(--very-light-gray);
  color:var(--very-dark-blue);
  transition: background-color ease-in-out 1s;
  transition: background-image ease-in-out 1s;
}

.main-body.light-mode{
  background-color: var(--very-light-grayish-blue);
}
.todo-body.light-mode, .counter.light-mode, .footer-navigation.light-mode, .todo-input.light-mode, .No-todos.light-mode p, .No-todos.light-mode svg{
  background-color: var(--very-light-gray);
}
.todo-body.light-mode .todo{
  border-bottom:solid 1px var(--light-grayish-blue);
}
.todo-input.light-mode input{
  color:black;
}
.image.light-mode{
  background-image:url(/images/bg-desktop-light.jpg);
}
.message.light-mode{
  background-color: var(--very-light-grayish-blue);
}
.counter.light-mode, .footer-navigation.light-mode,  .No-todos.light-mode p, .No-todos.light-mode svg{
  color:var(--very-dark-grayish-blue);
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width:500px){
  .todo p{
    max-inline-size: 20ch;
  }
}
@media only screen and (max-width:650px){
  .todo p{
    max-inline-size: 20ch;
  }
  .image.dark-mode-bg{
  background-image:url(/images/bg-mobile-dark.jpg);
}
  .image.light-mode{
  background-image:url(/images/bg-mobile-light.jpg);
}
}
@media only screen and (min-width:650px){
 button.delete-todo{
   opacity: 0;
   transition:opacity .5s;
 }
 .todo:hover button.delete-todo{
   opacity:1;
 }
 
 .footer-navigation{
   width:12rem;
 }
   .footer-navigation ul{
     width:100%;
}
.footer-navigation li.dark-mode-bg:hover{
   color:var(--light-grayish-blue);
 }
.footer-navigation li.light-mode:hover{
   color:var(--very-dark-blue);
 }
  .One{
    margin-left:1rem;
  }
  .counter p{
    margin-right:1rem;
  } 
}

.drag-handle{
  touch-action:none
}